In [9]:
x=[33,44,55,87,98]
set(x)

{33, 44, 55, 87, 98}

In [10]:
s={2,3,5,4,6,7}
s.add(9)

In [11]:
s

{2, 3, 4, 5, 6, 7, 9}

In [24]:
s.pop()

3

In [25]:
a={3.2,1.2}
a.pop()

1.2

In [26]:
len(a)

1

In [27]:
b={22,33,55,77,99}
print('The largest number in b is=',max(b))
print('The smallest number in b is=',min(b))

The largest number in b is= 99
The smallest number in b is= 22

In [32]:
a=set('animal')
a

{'a', 'i', 'l', 'm', 'n'}

In [33]:
# Find the intersection(common values) in both sets
a={1,2,3,4,5}
b={22,3,4,5,9}
a.intersection(b)

{3, 4, 5}

In [34]:
a-b

{1, 2}

In [35]:
# Remove the same difference in sets and combined it
a.symmetric_difference(b)

{1, 2, 9, 22}

In [40]:
# For adding sets to each other
a.update(b)
a

{1, 2, 3, 4, 5, 9, 22}